body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.appDiv {
  width: 60vw;
  height: 80vh;
  background-color: #222;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.navButton {
  background-color: #444;
  color: white;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.3s;
}

.navButton:hover {
  background-color: #666;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.left {
  margin-right: 20px;
}

.right {
  margin-left: 20px;
}
